
/* === DESIGN SYSTEM === */

/* === GREY SCALE === */
$color-grey-100: #f3f3f3;
$color-grey-200: #ebebeb;
$color-grey-300: #e0e0e0;
$color-grey-400: #cccccc;
$color-grey-500: #999999;
$color-grey-600: #666666;
$color-grey-700: #4d4d4d;
$color-grey-800: #262626;
$color-grey-900: #050505;
$color-grey-1000: #15110E;

/* === SPACING SCALE === */
$space-2xs: 4px;
$space-xs: 10px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 40px;
$space-2xl: 48px;
$space-3xl: 64px;
$space-4xl: 90px;
$space-5xl: 150px;
$space-side-md: 200px;

/* === FONT SIZES === */
$font-size-2xs: 16px;
$font-size-xs: 18px;
$font-size-sm: 26px;
$font-size-md: 38px;
$font-size-lg: 48px;
$font-size-xl: 60px;
$font-size-2xl: 80px;
$font-size-3xl: 150px;
$font-size-4xl: 200px;

/* === FONT SIZES X FLUID === */
$font-size-2xs-desktop: 16; $font-size-2xs-mobile: 12;
$font-size-xs-desktop: 22; $font-size-xs-mobile: 16;
$font-size-sm-desktop: 30; $font-size-sm-mobile: 16;
$font-size-md-desktop: 38; $font-size-md-mobile: 20;
$font-size-lg-desktop: 48; $font-size-lg-mobile: 24;
$font-size-xl-desktop: 60; $font-size-xl-mobile: 28;
$font-size-2xl-desktop: 80; $font-size-2xl-mobile: 32;
$font-size-3xl-desktop: 150; $font-size-3xl-mobile: 40;
$font-size-4xl-desktop: 200; $font-size-4xl-mobile: 50;
$font-size-5xl-desktop: 300; $font-size-5xl-mobile: 60;

/* === FONT WEIGHTS === */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* === BORDER RADIUS === */
$radius-xs: 2px;
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-xl: 20px;
$radius-2xl: 32px;
$radius-full: 9999px;

.highligthText-IA{
  background: linear-gradient(to right, #4C76FF, #00CDD4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

.highligthText{
  font-weight: $font-weight-bold;
  color: $color-grey-600;
}