@use '../assets/globalStyles//variables.scss' as *;
@use '../assets/globalStyles//mixins.scss' as *;
@use '../assets/globalStyles/typography.scss' as typo;

.listComponentContainer{
    height: 380px;
    width: 400px;
    background-color: $color-grey-100;
    border-radius: $radius-xl;
    box-shadow: 0px 0px 20px rgba(132, 132, 132, 0.460);
    overflow: hidden;
    padding-bottom: $space-lg;
    position: relative;

    @include respond-down(wide){
        transform: scale(0.8);
      }

    @include respond-down(desktop) {
        transform: scale(0.8);
    }

    .contentLayer{
        position: relative;
        z-index: 10;
    }

    .listComponent_header{
        height: 180px;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;

        &_title{
            font-size: $font-size-sm;
            font-weight: $font-weight-bold;
            color: $color-grey-800;
            width: 100%;
            display: flex;
            align-items: end;
            padding-left: $space-xl;
        }

        &_subtitle{
            font-size: $font-size-2xs;
            font-weight: $font-weight-semibold;
            color: $color-grey-500;
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            padding-left: $space-xl;
            margin-top: $space-xs;
            line-height: 0.9;
        }

        &_searchBar{
            display: flex;
            width: calc(100% - $space-xl);
            background-color: rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(0, 0, 0, 0.02);
            height: 50px;
            border-radius: $radius-md;
            overflow: hidden;
            margin-top: $space-sm;

            &_iconBox{
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &_inputText{
                width: calc(100% - 50px);
                outline: none;
                padding-left: $space-2xs;
                background-color: rgba(0, 0, 0, 0.0);
                border: 0px;
                font-size: $font-size-xs;
                color: $color-grey-700;
            }
        }

        &_filter{
            height: $space-xl;
            width: calc(100% - $space-xl);
            display: flex;
            align-items: end;

            &_text{
                font-size: $font-size-2xs;
                font-weight: $font-weight-medium;
            }

            &_jobContainer{
                height: 30px;
                width: auto;
                padding-left: $space-sm;
                padding-right: $space-sm;
                margin-right: $space-sm;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: $radius-md;
                cursor: pointer;
            }

            &_jobContainer_active{
                height: 30px;
                width: auto;
                padding-left: 30px;
                padding-right: $space-sm;
                margin-right: $space-sm;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: $radius-md;
                cursor: pointer;
                position: relative;
                background-color: $color-grey-700 !important; //!important cause it must overwrite an inline-style
            }
        }
    }

    .listComponent_body{
        height: calc(100% - 170px);
        background-color: $color-grey-100;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        max-height: 190px;

        &_::-webkit-scrollbar{
            display: none;
        }

        &_ul{
            width: calc(100% - $space-xl);
        }

        &_userBox{
            height: 60px;
            transition: 0.2s ease;
            cursor: pointer;
            border-radius: $radius-md;
            display: flex;
            align-items: center;
            position: relative;

            &:hover{
                background-color: $color-grey-200;
            }

            &:last-child{
                margin-bottom: $space-lg;
            }

            &_activeUser{
                height: 60px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                &_dot{
                    height: 10px;
                    width: 10px;
                    background-color: #1dca1d;
                    border-radius: $radius-sm;
                }
            }

            &_userName{
                color: $color-grey-700;
                margin-left: $space-sm;
                font-size: 18px;
                font-weight: $font-weight-medium;
            }

            &_userJob{
                color: $color-grey-100;
                font-size: 15px;
                background-color: red;
                padding: 2px 7px 2px 7px;
                border-radius: $radius-sm;
                position: absolute;
                z-index: 1;
            }

            &_deleteUserContainer{
                height: 26.5px;
                background-color: #ff4857;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 15px;
                z-index: 0;
            }
        }
    }
}

.noContactsText{
    font-weight: $font-weight-semibold;
    color: $color-grey-600;
    margin-top: 50px;
}